 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>My Mission</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                <!--<div class="col-lg-4 col-lg-offset-2">-->
                    <p>
                        I have a decade of engineering management experience using data gathering and analysis to solve
                        problems in a number of industries.
                    </p>
                    <p>
                        My primary interest at the moment is in accelerating clinical
                        research through crowd-sourcing so that we may end the suffering caused by chronic illness.
                    </p>
                <!--</div>-->
                <!--<div class="col-lg-4">-->
                    <p>
                        However, my ultimate goal is a world that uses data to drive public policy which maximizes gross
                        national health and happiness.
                    </p>
                    <p>
                        Please contact me if you're interested in working to minimize
                        suffering in the universe.
                    </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#contact" class="btn btn-lg btn-outline">
                        <i class="fa fa-comment"></i> &nbsp; Contact Me
                    </a>
                </div>
            </div>
        </div>
    </section>
