<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive" src="{{ site.url }}/img/calendar.png" alt="">
                <div class="intro-text">
                    <span class="name">Need Help?</span>
                    <hr class="star-light">
                    <div class="skills">
                        Consulting, planning and spontaneous tasks can be provided at a rate of $75/hour. 
                        Just select a time below and I'll be there!
                        <br><br>
                            I donate all proceeds above the US median income (70% of my rate) to projects most 
                            effective at reducing
                        suffering per dollar spent. These include organizations focused on: 
                        <br><br>
            
                        <ul style="list-style-type: circle; text-align: left; max-width: 75%; margin: auto;">
                            <li>
                                alternatives to the massively cruel practices involved in large-scale industrial factor farming
                            </li>
                            <li>
                                public policy that focuses on maximizing the general welfare instead of funneling money to 
                                campaign contributors
                            </li>
                            <li>
                                using new technologies to accelerate clinical research to find solutions to devastating 
                                chronic illnesses
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>



<iframe src="https://mikepsinn.youcanbook.me/?noframe=true&skipHeaderFooter=true" id="ycbmiframemikepsinn"
        style="width:100%;height:1000px;border:0px;background-color:transparent;" frameborder="0"
        allowtransparency="true"></iframe>
<script>window.addEventListener && window.addEventListener("message", function (event) {
    if (event.origin === "https://mikepsinn.youcanbook.me") {
        document.getElementById("ycbmiframemikepsinn").style.height = event.data + "px";
    }
}, false);</script>
