<!-- About Section -->
<section class="success" id="about">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2>Education</h2>
              <hr class="star-light">
          </div>
      </div>
      <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center">
              <p>
                ●	Major: Electrical Engineering
              </p>
              <p>
                ●	Minor: Physics & Keepin' It Real
              </p>
              <p>
                ●	GPA 3.6/4 
              </p>
              <p>
                ●	Recess: A+  
              </p>

          </div>
          <div class="col-lg-8 col-lg-offset-2 text-center">
              <a href="/uploads/mike-sinn-college-transcript.pdf" class="btn btn-lg btn-outline">
                  <i class="fa fa-book"></i> &nbsp; Transcript
              </a>
          </div>
      </div>
  </div>
</section>
