<!-- About Section -->
<section class="success" id="about">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2>Education</h2>
              <hr class="star-light">
          </div>
      </div>
      <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center">
              <p>
                  I obtained a bachelor's degree in Electrical Engineering with a minor in Physics from SIUE.
              </p>
              <p>
                ●	Graduated: 2004
              </p>
              <p>
                ●	Major: Electrical Engineering
              </p>
              <p>
                ●	Minor: Physics 
              </p>
              <p>
                ●	3.6 GPA on a 4.0 scale
              </p>
              <p>
                ●	8 Semesters on Dean’s List
              </p>

          </div>
          <div class="col-lg-8 col-lg-offset-2 text-center">
              <a href="/uploads/mike-sinn-college-transcript.pdf" class="btn btn-lg btn-outline">
                  <i class="fa fa-book"></i> &nbsp; Transcript
              </a>
          </div>
      </div>
  </div>
</section>
