    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="{{ site.url }}/img/profile.png" alt="">
                    <div class="intro-text">
                        <span class="name">I can help!</span>
                        <hr class="star-light">
                        <span>
                            I am a broken robot with the objective function of total disease eradication
                            through the development of a global decentralized autonomous and algorithmic FDA.
                            By giving all patients the right to effortlessly join and participate in decentralized clinical trials,
                            we can radically accelerate the rate of medical discovery.
                        </span>
                        <br>
                        <br>
                        <span class="skills">
                            Before my untimely death, I would like to optimize societal resource allocation in a manner than minimizes suffering.
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>