 <!-- Portfolio Modals -->
 {% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}" style="max-height: 300px;">
                            {% if post.description %}
                                <p>{{ post.description }}</p>
                            {% endif %}
                            {% if post.project-url %}
                                <p>Check it out at</p>
                                <button type="button" class="btn btn-lg btn-primary" data-dismiss="modal" href="{{ post.project-url }}" target="_blank"><i class="fa fa-eye"></i> &nbsp; {{ post.project-name }}</button>
                                <!--<h3><a href="{{ post.project-url }}" target="_blank">{{ post.project-name }}</a></h3>-->
                            {% endif %}
                            <ul class="list-inline item-details">
                                {% if post.project-date %}
                                    <!--<li>Date:<strong>{{ post.project-date }}</strong></li>-->
                                {% endif %}
                                {% if post.category %}
                                    <li>Service: &nbsp;<strong>{{ post.category }}</strong></li>
                                {% endif %}
                            </ul>
                            {% if post.categories %}
                                <h3>Skills</h3>
                                {% for skill in post.categories %}
                                <strong>{{ skill }}</strong><br>
                                {% endfor %}
                            {% endif %}
                            <br>
                            <button type="button" class="btn btn-default btn-sm" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}