
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>How can I help you?</h2>
                    <hr class="star-primary">
                    <span class="intro-text">
                        These are my areas of expertise.  Click to learn more or contact me if you think
                        I could provide value to you or your organization.
                    </span>
                </div>
            </div>
            <br>
            <div class="row">
                {% assign skills = site.skills | sort: 'years' | reverse %}
                <!-- Give skills with long title the highest modal-id so they're at the bottom or it breaks the layout -->
                {% for skill in skills %}
                    <div class="col-sm-4 portfolio-item">
                        <a href="#portfolioModal-{{ skill.modal-id }}" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-info-circle fa-3x"></i>
                                </div>
                            </div>
                            <img src="{{ site.url }}/img/portfolio/{{ skill.img }}" class="img-responsive" alt="{{ skill.alt }}">
                        </a>
                        <h4 style="text-align: center; height: 20px;">{{ skill.title }}</h4>
                        {% assign percent = skill.years | times: 100 | divided_by: 11 | round %}
                        {% assign hours = skill.years | times: 2080 | round %}
                        <div class="p-4 rounded-md">
                            {% include bar.html %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
