<section id="techologies">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Technology Experience</h2>
                <hr class="star-primary">
            </div>
        </div>
        <br>
        <div class="row">
            <a frameborder="0" data-theme="light" data-layers="1,2,3,4" data-stack-embed="true"
            href="https://embed.stackshare.io/stacks/embed/c9fc1479a9b5fc" /></a>
        <script async src="https://cdn1.stackshare.io/javascripts/client-code.js" charset="utf-8"></script>
        </div>
    </div>
</section>